.change-cover{width: 5%; position: absolute; top: 10px; left: 20px; padding: 0px 10px; color: #FFF;
background-color: rgba(94, 107, 117, 0); max-height: 30px;overflow: hidden; cursor: pointer;}
.change-cover:hover{width: 15%; transition: width 0.5s; background-color: rgba(94, 107, 117, 0.49)};
.friend-list .friend-card{height: 300px; width: 320px;}
.friend-card .img-responsive{ width: 100%; height: 50%; }